@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.signin-container {
  background-color: #483f50;
}

.signin-flex {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 65px 0;
  padding-bottom: 115px;
  justify-content: space-between;
  align-items: flex-start;
}

.signin-girl {
  width: 90%;
  padding: 20px;
}

.signin-form {
  background-color: #fff;
  border-radius: 60px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}

.signin-h2 {
  font-size: 20px;
  font-weight: 500;
  align-self: center;
  padding-bottom: 30px;
}

.signin-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  padding-top: 15px;
}

.signin-label-p {
  display: grid;
  grid-template-columns: 40% 95%;
  gap: 5%;
}

.signin-input,
.signin-input-p,
.signin-input-p2 {
  border-radius: 20px;
  background-color: #d9d9d9;
  padding: 8px;
  margin: 8px 0;
  width: 100%;
  border: none;
}

.signin-input-p {
  padding: 8px 20px;
  background-color: #fff;
  border: 1px solid #483f50;
}

.signin-btn {
  border-radius: 14px;
  border: none;
  background-color: #f6c61b;
  color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 10px 30px;
}

.mt-6 {
  align-self: end;
  padding: 25px 0;
}

.sigin-forgot,
.sigin-dont-have,
.sigin-up {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.sigin-forgot {
  font-weight: 400;
  padding-bottom: 8px;
}

.sigin-up {
  color: #f6c61b;
  padding-left: 8px;
}

.signup-checkbox {
  padding-top: 20px;
}

.signup-btn {
  padding: 25px 0;
  align-self: center;
}

.confirmation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #483f50;
}

.confirmation-flex {
  border: none;
  border-radius: 60px;
  margin: 35px;
  padding: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 95%;
  text-align: center;
}

.confirmation-h2 {
  font-size: 35px;
  font-weight: 500;
}

.confirmation-p {
  font-size: 18px;
}

.confirmation-resend {
  font-size: 20px;
  color: #ffbf00;
  font-weight: 600;
}

.red-part {
  color: #f00;
  font-size: 18px;
}

.account-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #483f50;
}

.account-flex {
  border: none;
  border-radius: 60px;
  margin: 35px;
  padding: 0 150px;
  padding-top: 100px;
  padding-bottom: 250px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 95%;
  text-align: center;
}

.account-h2,
.account-courses,
.account-user,
.account-h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.account-signin {
  width: 60%;
}

.account-section1,
.account-section2 {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  justify-content: center;
}

.account-section2 {
  gap: 16px;
}

.account-section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}

.account-expand {
  display: flex;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  width: 13%;
  border: none;
  border-radius: 20px;
  background-color: #f6c61b;
}

.account-list {
  position: absolute;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 60%;
}

.account-section21 {
  display: flex;
  gap: 18px;
}

.account-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.account-h3 {
  font-size: 22px;
  font-weight: 500;
}

.account-p {
  font-size: 20px;
}

.account-hr {
  color: #22c0db;
  width: 100%;
  border: 1px solid #22c0db;
}

.account-course-list {
  border-radius: 15px;
  border: 1px solid #f6c61b;
  background-color: #f6c71b95;
  display: flex;
  padding: 14px 18px;
  justify-content: space-between;
  align-items: center;
}

.account-status {
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 18px;
  background-color: #fff;
  margin: 0;
}

.button-prt1,
.button-prt2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.account-down-2 {
  background-color: #fff;
  border-radius: 50px;
  padding: 15px 12px;
}
