@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.courses-container {
  padding: 100px 0;
  background-color: #483f50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.course-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  flex-wrap: wrap;
  width: 85%;
}

.course-card {
  border-radius: 39px;
  margin: 70px 20px;
}

.course-card-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.course-card-title {
  font-size: 13px;
  font-weight: 600;
}

.course-card-desc,
.course-card-dur {
  font-size: 12px;
}

.course-card-price {
  color: #0ebf20;
  font-size: 25px;
  font-weight: bold;
}

.courses-link {
  text-decoration: none;
  color: #000;
}

.course-card-flex {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.course-card-btn {
  background-color: #f6c61b;
  border: none;
  padding: 8px 18px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  color: black;
  align-self: center;
}

.courses-flex,
.cart-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 85%;
  margin: auto;
}

.cart-flex {
  flex-direction: row;
  justify-content: space-around;
  gap: 12px;
  min-height: 100vh;
}

.cart-list-info {
  display: flex;
  gap: 16px;
  padding-top: 10px;
}

.cart-list-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.cart-img {
  width: 20%;
}

.cart-h2,
.cart-total-price {
  font-size: 30px;
  font-weight: 600;
}

.cart-h3 {
  font-size: 18px;
  font-weight: 600;
}

.cart-price {
  font-size: 18px;
  font-weight: 600;
  color: #f6c61b;
  padding-left: 30px;
}

.cart-hours {
  font-size: 18px;
  color: #f6c61b;
}

.cart-hr {
  border: 1px solid #fff;
  color: #fff;
  transform: rotate(90deg);
  width: 13%;
  margin-top: 110px;
}

.cart-remove,
.cart-remove:hover {
  background-color: transparent;
  color: #f6c61b;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.modules-container {
  padding: 100px 0;
  background-color: #483f50;
}

.modules-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  margin: auto;
  background-color: #fff;
  color: #000;
  border-radius: 60px;
  padding: 120px 100px;
  min-height: 200vh;
}

.modules-choose {
  display: flex;
  gap: 30px;
  padding-top: 30px;
}

.modules-choose-t {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.modules-section3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
}

.modules-expand {
  display: flex;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  border: none;
  border-radius: 20px;
  background-color: #f6c61b;
}

.modules-btn-prt1 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
}

.modules-btn-prt2 {
  display: flex;
  gap: 6px;
  align-items: flex-start;
}

.modules-lessons {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.modules-expand-lessons {
  border: none;
  background: transparent;
  color: #22c0db;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.modules-list {
  position: absolute;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 60%;
}
