@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.homepage-container {
  min-height: 72vh;
  background-image: url(../media/inno.png);
  background-position: right top;
  background-repeat: no-repeat;
  width: 100%;
  color: white;
  padding: 100px;
  background-color: #0b001a;
}

.home-text {
  width: 55%;
}

.home-h1 {
  font-size: 45px;
  font-weight: 800;
}

.home-p {
  color: #22c0db;
  font-size: 28px;
}

.white {
  color: white;
  font-size: 28px;
  padding: 0 5px;
}

.home-form {
  margin-top: 100px;
}

.home-search-btn {
  background-color: #f6c61b;
  color: black;
  border-radius: 70px;
  border: none;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin: 8px 10px;
  padding: 12px 20px;
  position: absolute;
  margin-left: -20%;
}

.home-search-btn:hover {
  background-color: #0b001a;
  color: #f6c61b;
}

.homepage-container-2,
.featured-container,
.expert-container {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
}

.infograph {
  background-color: #f6c61b;
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: -50px;
  position: absolute;
  padding: 57px 64px;
}

.infograph-h2 {
  font-size: 35px;
  font-weight: 700;
}

.infograph-p {
  font-size: 18px;
}

.infograph-hr {
  width: 15%;
  height: 2px;
  background-color: black;
  border: 1px solid black;
  transform: rotate(90deg);
}

.prospects-container {
  background-color: #d9d9d9;
  background-image: url(../media/arrow.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-position-x: 27%;
}

.prospects {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding-top: 210px;
}

.prosp-h2 {
  font-size: 27px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  position: absolute;
  z-index: 1;
  width: 50%;
  margin-top: 20px;
}

.prosp-btn {
  border-radius: 20px;
  border: none;
  background-color: #f6c61b;
  color: black;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 10px 30px;
  margin-top: 250px;
}

.prosp-grid {
  display: grid;
  grid-template-columns: 268px 268px 268px;
  grid-template-rows: 245px 245px;
}

.JobXorig-container {
  background-color: #001f3f;
}

.JobXorig-flex {
  width: 80%;
  margin: auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.JobXorig-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.JobXorig-together {
  width: 60%;
}

.JobXorig-img-x {
  width: 70%;
  padding: 15px 0;
}

.JobXorig-h2 {
  font-family: "Cabin Sketch", sans-serif;
  font-size: 27px;
  color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  border-radius: 9px;
  box-shadow: 0 1px 1px gray;
  margin: 20px;
  width: 90%;
  margin-top: 0;
}

.card-img-1 {
  width: 35%;
  background-color: #22dbaf;
  padding: 20px;
  border-radius: 8px;
}

.card-img-2 {
  width: 35%;
  background-color: #d722db;
  padding: 20px;
  border-radius: 8px;
}

.card-img-3 {
  width: 35%;
  background-color: #eda2a2;
  padding: 20px;
  border-radius: 8px;
}

.card-img-4 {
  width: 35%;
  background-color: #ccdb22;
  padding: 20px;
  border-radius: 8px;
}

.card-img-5 {
  width: 35%;
  background-color: #98ddf2;
  padding: 20px;
  border-radius: 8px;
}

.card-h4 {
  margin-top: 3px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.card-p,
.card-p-5 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.category-section {
  background-color: #d9d9d9;
  text-align: center;
  padding: 50px;
}

.category-h2 {
  font-size: 31px;
  font-weight: bold;
  padding: 30px 0;
}

.category-list {
  list-style: none;
  margin: 0 12px;
  display: flex !important;
}

.category-list-id {
  margin: 0 15px;
}

.slick-prev::before,
.slick-next::before {
  color: #22c0db !important;
  font-size: 40px !important;
}

.category-img {
  width: 185px;
  height: 164px;
  border-radius: 14px;
}

.category-h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 12px;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.slick-track {
  display: inline !important;
}

.carousel {
  width: 90%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.carousel-btn {
  background-color: #22c0db;
  color: #fff;
  border: none;
  padding: 0 15px;
  font-size: 30px;
  border-radius: 60px;
}

.carousel-inner {
  display: flex;
  justify-content: center;
}

.vision-container {
  background-color: #0b001a;
  display: flex;
  justify-content: space-between;
}

.vision-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 70%;
  margin: auto;
  padding: 40px 0;
}

.vision {
  width: 80%;
}

.vision-h2,
.vision-p {
  font-weight: bold;
  font-size: 16px;
  color: white;
  padding-top: 5px;
}

.vision-sun {
  position: absolute;
  z-index: 1;
  right: 26%;
  width: 7%;
}

.vision-africa {
  width: 85%;
}

.featured-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding: 60px 0;
  padding-bottom: 10px;
}

.featured {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.featured-h2 {
  font-size: 25px;
  font-weight: bold;
}

.featured-a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

.featured-courses {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}

.expert-flex {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.expert-btn {
  font-size: 12px;
  border-radius: 20px;
  border: none;
  background-color: #f6c61b;
  color: black;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 10px 30px;
  margin-top: 50px;
}

.expert-h2,
.partners-h2 {
  font-size: 24px;
  font-weight: bold;
}

.expert-p {
  font-size: 14px;
}

.expert-teacher {
  width: 90%;
}

.invitation-container {
  background-color: #f6c61b;
  background-image: url(../media/star.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 13%;
  background-size: 30%;
}

.invitation-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.invitation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 57%;
  color: #000;
  gap: 20px;
}

.invitation-imgp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
}

.invitation-star {
  position: absolute;
}

.invitation-arrow {
  width: 20%;
}

.invitation-student {
  width: 80%;
}

.invitation-p {
  font-size: 18px;
  text-align: right;
}

.partners-h2 {
  text-align: center;
}

.partners-flex {
  display: flex;
  flex-direction: column;
  color: #000;
  gap: 20px;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.partners-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.partners-partner {
  width: 156px;
  height: 156px;
}

.partners-partner-3 {
  width: 200px;
  height: 120px;
}

.footer-container {
  background-color: #f6c61b;
}

.footer-flex {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding: 40px 0;
}

.footer-p {
  font-size: 15px;
  padding-bottom: 6px;
  width: 85%;
}

.footer-links {
  padding: 16px 0;
}

.footer-link {
  list-style: none;
  padding: 6px 0;
}

.footer-link-a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
}

.footer-social {
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-sm {
  list-style: none;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  padding: 6px;
  margin: 10px;
}

.footer-sm-f {
  list-style: none;
}

.footer-sm-img {
  cursor: pointer;
  width: 26px;
  height: 28px;
}

.footer-sm-img-f {
  width: 38px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.footer-origin8lab {
  width: 33%;
}

.search-container {
  position: relative;
  width: 100%;
}

.search-result-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 85%;
  color: #000;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-result-list {
  list-style: none;
  padding: 6px;
  font-size: 16px;
  font-style: italic;
  background-color: #fffc;
  color: #000;
}

.search-input {
  width: 90%;
  padding: 20px;
  font-size: 15px;
  border-radius: 70px;
  background-color: white;
  border: none;
}

.levelup {
  width: 100%;
}

@media only screen and (max-width: 756px) {
  .homepage-container {
    padding: 40px;
    background-position: right bottom;
    background-blend-mode: soft-light;
  }

  .home-h1 {
    font-size: 30px;
  }

  .home-p,
  .white {
    font-size: 22px;
    font-weight: 700;
  }

  .search-input {
    width: 180%;
    position: absolute;
    bottom: 0;
  }

  .home-search-btn {
    margin-left: 120%;
    bottom: 0;
  }

  .footer-link-a {
    font-size: 13px;
  }

  .footer-p {
    font-size: 12px;
  }

  .footer-origin8lab {
    width: 100%;
  }

  .footer-social {
    flex-direction: column;
  }

  .footer-sm {
    padding: 5px;
  }

  .footer-sm-img {
    width: 18px;
    height: 20px;
  }

  .footer-sm-img-f {
    width: 28px;
    height: 30px;
  }

  .infograph {
    flex-wrap: wrap;
    margin-top: -35px;
    gap: 15px;
  }

  .infograph-hr {
    display: none;
  }

  .prospects {
    padding-top: 520px;
    gap: 20px;
  }

  .prosp-h2 {
    font-size: 24px;
    width: 90%;
  }

  .prosp-btn {
    margin-top: 205px;
    width: 100%;
    font-size: 12px;
  }

  .prosp-grid {
    grid-template-columns: 90%;
    grid-template-rows: 0 300px;
  }

  .carousel-btn {
    font-size: 20px;
    padding: 0 10px;
  }

  .category-img {
    width: 166px;
    height: 150px;
  }

  .category-h2,
  .partners-h2 {
    font-size: 24px;
    text-align: center;
    padding: 15px 0;
  }

  .carousel {
    width: 100%;
  }

  .vision-africa,
  .vision-imgs,
  .vision-sun,
  .invitation-arrow,
  .invitation-p {
    display: none;
  }

  .vision-h2,
  .vision-p {
    font-size: 14px;
  }

  .vision-flex {
    gap: 0;
    width: 80%;
  }

  .vision {
    width: 100%;
  }

  .invitation-h2 {
    margin-top: -370px;
    margin-left: 60%;
    position: absolute;
    font-size: 30px;
    color: #fff;
  }

  .invitation-student {
    width: 100%;
  }

  .invitation-flex {
    flex-wrap: wrap;
  }

  .JobXorig-h2 {
    font-size: 16px;
  }

  .JobXorig-flex {
    flex-direction: column;
    align-items: center;
  }

  .JobXorig-text,
  .JobXorig-img {
    width: 100%;
    text-align: center;
  }

  .JobXorig-together {
    width: 40%;
  }

  .levelup {
    display: none;
  }
}
