* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.navbar {
  background-color: #22c0db;
  color: black;
}

.brand-img-nav {
  width: 90%;
}

.jobbero-img {
  width: 55%;
}

.nav-btn {
  background-color: #fff;
  border: none;
  padding: 4px 10px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  color: black;
  margin-left: 100px;
}

.nav-btn:hover {
  background-color: #f6c61b;
}

.nav-link {
  display: inline;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.nav-categories {
  color: black;
  background-color: #0b001a76;
  border-radius: 10px;
  padding: 5px 10px;
}

.nav-categories-font {
  font-size: 13px;
}

.icon-img {
  width: 22%;
}

.custom-dropdown .dropdown-toggle::after {
  display: none;
}

.icon-img,
.icon-img-2 {
  padding-right: 8px;
}

.me-2 {
  border-radius: 12px;
}

.navbar2 {
  background-color: #f6c61b;
  color: black;
}

.container {
  display: flex;
  align-items: center;
}

.signin-nav-link,
.signin-nav-link-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.signin-nav-link {
  margin: 0 100px;
  margin-left: 200px;
}

.nav-cat-title {
  text-decoration: none;
  font-size: 13px;
  color: black;
}

.nav-padding {
  padding-top: 5px;
}

.navpart2 {
  margin-left: 85%;
}

@media only screen and (max-width: 756px) {
  .nav-padding-log-flex {
    display: flex;
    flex-direction: column;
  }

  .brand-img-nav3 {
    width: 60%;
  }

  .brand-img-nav {
    width: 70%;
  }

  .yellow-nav {
    margin-left: 75%;
  }

  .my-prof-img {
    margin-left: 88%;
  }

  .blue-nav-btn {
    margin-right: 220px;
    margin-left: 0;
  }

  .nav-categories {
    margin-right: 240px;
  }

  .nav-cat-title {
    font-size: 14px;
  }

  .nav1 .nav-padding {
    display: none;
  }

  .nav-padding-log {
    display: contents !important;
  }

  .navpart2 {
    margin-left: 0;
  }
}
